<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- related drugs -->
    <div class="w-full h-fit flex flex-col space-y-4">
      <p class="text-2xl font-semibold mx-2 lg:mx-10">Related Drugs</p>

      <div class="w-full flex flex-row justify-between items-center">
        <div class="w-[10%] hidden lg:flex items-center justify-center">
          <button
            class="w-10 h-10 rounded-full border flex items-center justify-center"
          >
            <span class="material-symbols-outlined"> arrow_back </span>
          </button>
        </div>
        <div
          class="w-full lg:w-[80%] grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 py-10 gap-6 px-2"
        >
          <a
            href="./product-details.html"
            class="w-full h-fit border flex flex-col items-start rounded-md hover:opacity-70"
          >
            <div class="w-full h-64 bg-white dark:bg-slate-700 rounded-t-md">
              <img
                alt="Emzor Paracetamol 500mg"
                src="./assets/images/drug/1.png"
                class="w-full h-full rounded-t-md object-cover"
              />
            </div>
            <div
              class="w-full flex flex-col items-start p-2 py-3 bg-secondary/40"
            >
              <div class="w-full flex flex-row space-x-2 items-end">
                <p>$22.50</p>

                <span class="flex items-end space-x-2">
                  <p>-</p>
                  <p>$52.00</p>
                </span>

                <span class="text-xs text-gray-400"> 1 / Tablets </span>
              </div>
              <p class="font-semibold truncate line-clamp-1">
                Emzor Paracetamol 500mg
              </p>
            </div>
          </a>
          <a
            href="./product-details.html"
            class="w-full h-fit border flex flex-col items-start rounded-md hover:opacity-70"
          >
            <div class="w-full h-64 bg-white dark:bg-slate-700 rounded-t-md">
              <img
                alt="Emzor Paracetamol 500mg"
                src="./assets/images/drug/2.png"
                class="w-full h-full rounded-t-md object-cover"
              />
            </div>
            <div
              class="w-full flex flex-col items-start p-2 py-3 bg-secondary/40"
            >
              <div class="w-full flex flex-row space-x-2 items-end">
                <p>$22.50</p>

                <span class="flex items-end space-x-2">
                  <p>-</p>
                  <p>$52.00</p>
                </span>

                <span class="text-xs text-gray-400"> 1 / Tablets </span>
              </div>
              <p class="font-semibold truncate line-clamp-1">
                Emzor Paracetamol 500mg
              </p>
            </div>
          </a>
          <a
            href="./product-details.html"
            class="w-full h-fit border flex flex-col items-start rounded-md hover:opacity-70"
          >
            <div class="w-full h-64 bg-white dark:bg-slate-700 rounded-t-md">
              <img
                alt="Emzor Paracetamol 500mg"
                src="./assets/images/drug/3.png"
                class="w-full h-full rounded-t-md object-cover"
              />
            </div>
            <div
              class="w-full flex flex-col items-start p-2 py-3 bg-secondary/40"
            >
              <div class="w-full flex flex-row space-x-2 items-end">
                <p>$22.50</p>

                <span class="flex items-end space-x-2">
                  <p>-</p>
                  <p>$52.00</p>
                </span>

                <span class="text-xs text-gray-400"> 1 / Tablets </span>
              </div>
              <p class="font-semibold truncate line-clamp-1">
                Emzor Paracetamol 500mg
              </p>
            </div>
          </a>
          <a
            href="./product-details.html"
            class="w-full h-fit border flex flex-col items-start rounded-md hover:opacity-70"
          >
            <div class="w-full h-64 bg-white dark:bg-slate-700 rounded-t-md">
              <img
                alt="Emzor Paracetamol 500mg"
                src="./assets/images/drug/1.png"
                class="w-full h-full rounded-t-md object-cover"
              />
            </div>
            <div
              class="w-full flex flex-col items-start p-2 py-3 bg-secondary/40"
            >
              <div class="w-full flex flex-row space-x-2 items-end">
                <p>$22.50</p>

                <span class="flex items-end space-x-2">
                  <p>-</p>
                  <p>$52.00</p>
                </span>

                <span class="text-xs text-gray-400"> 1 / Tablets </span>
              </div>
              <p class="font-semibold truncate line-clamp-1">
                Emzor Paracetamol 500mg
              </p>
            </div>
          </a>
        </div>
        <div class="w-[10%] hidden lg:flex items-center justify-center">
          <button
            class="w-10 h-10 rounded-full border flex items-center justify-center"
          >
            <span class="material-symbols-outlined"> arrow_forward </span>
          </button>
        </div>
      </div>
    </div>
    <!-- end related drugs -->
  </body>
</html>
