.slick-slide {
  margin: 0 10px; /* Adjust the margin value as needed */
}

/* Adjust the slick-track to avoid overflow due to margins */
.slick-list {
  margin: 0 -10px; /* Same value as the margin on .slick-slide */
}

/* Change the size of the dots */
.slick-dots li button {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
}

/* Change the background color of the dots */
.slick-dots li button:before {
  font-size: 16px !important; /* Adjust the font-size to change the dot size */
  color: gray !important; /* Default color */
}

/* Change the active dot color */
.slick-dots li.slick-active button:before {
  color: #2a8420 !important; /* Active dot color */
}
